<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}">

  <title>
    {% block title %}
      KimoAssistant
    {% endblock %}
  </title>

  {% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
  {% endblock %}

  {% block scripts %}
      <script src="{{ url_for('static', filename='js/top-btn.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
  {% endblock %}   

</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <img src="{{ url_for('static', filename='img/head_photo.JPG') }}" width="200" height="200" class="img-responsive" alt="Photo">
      </div>
      <div class="sidebar-heading text-center">鄒旻翰</div>
      <div class="list-group list-group-flush">
        {% block inside_left %}
        {% endblock %}
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    
    <!-- Sidebar -->
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">伸縮</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.news_index')}}">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.gallery_index')}}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.bookSearch_index')}}">BookSearch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.capsule_index')}}">Capsule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.database_index', table_name='')}}">Database</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.log_index')}}">Log</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
            </li>        
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
            </li>          
            {% endif %} 
          </ul>
        </div>
      </nav>
    {% endblock %}

    <div class="container-fluid">
      <br>
      <br>
    {% block inside_right %}
      <!-- <div class="container-fluid">
      </div> -->
      
    {% endblock %}
    </div>
    
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>

{% block endScripts %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
{% endblock %}

</html>
