{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content=""> 
    <title>{% block title %}KimoAssistant{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}"> 
    {% block styles %}
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/top-btn.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/Smooth-Scrolling.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
        
    {% endblock %}
    
    {% block scripts %}      
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/top-btn.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}   

{% endblock %}

{% block body%}

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

{% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top">        
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('main.index')}}">KimoAssistant</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.username %}
            <li>
              <a class="nav-link">Hi, {{ current_user.username }}</a>
            </li>
          {% endif %}
          <li>
            <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
          </li>
          <li>
            <a href="{{url_for('main.news_index')}}">News</a>
          </li>
          <li>
            <a href="{{url_for('main.index')}}">Gallery</a>
          </li>
          <li>
            <a href="{{url_for('main.index')}}">BookSearch</a>
          </li>
          {% if current_user.is_anonymous %}
          <li>
            <a href="{{ url_for('main.login') }}">Login</a>
          </li>        
          {% else %}
          <li>
            <a href="{{ url_for('main.logout') }}">Logout</a>
          </li>          
          {% endif %} 
        </ul>                  
      </div>
    </div>
  </nav>
{% endblock %}

{% block content%}
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <div>
          <div class="row placeholders">
            <div class="placeholder">
              <img src="{{ url_for('static', filename='img/head_photo.JPG') }}" width="200" height="200" class="img-responsive" alt="Photo">
              <h4>鄒旻翰</h4>
              <span class="text-muted">做來玩的</span>
            </div>   
            {% block inside_left %}       
            <div>
              <input type="number" class="money" min="0">
              <select name="exchange_rate_form">
                <option value="JPY">JPY</option>
                <option value="HKD">HKD</option>
                <option value="USD">USD</option>
              </select>
              <input type="submit" class="exchange_submit" value="轉換">
              <div id="exchange_result"></div>
              <div id="exchange_rate"></div>
            </div>
            {% if bahaCafeteria_data %}
            <h3>巴哈勇者福利社</h3>
              {% for cafe_key in bahaCafeteria_data %}
                <a href="{{ bahaCafeteria_data[cafe_key] }}" target="_blank">{{cafe_key}}</a>
                <br>
                <br>
              {% endfor %}
            {% endif %}
          {% endblock %}         
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    
    {% block inside_right %}
    {% endblock %}
  </div>
{% endblock %}
{% endblock %}

{% block endScripts %}

{% endblock %}