{% extends "base.html" %}
{% block title %}
    KimoAssistant - Capsule
{% endblock %} 

{% block inside_right %}

    {% for capsule_ls in data %}
        <div class="card-group">   
            {% for capsule in capsule_ls %}
                {% set title = capsule[0] %}
                {% set img_link = capsule[1] %}
                {% set link = capsule[2] %}
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ img_link }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <a href="{{ link }}" class="btn btn-primary" target="_blank">Go</a>
                    </div>
                </div>   
            {% endfor %}             
        </div>
    {% endfor %}

{% endblock %} 

{% block scripts %} 
    {{ super() }}
{% endblock %} 

{% block endScripts %}
    {{ super() }}
{% endblock %}