{% extends "base.html" %} 

{% block title %}
  KimoAssistant - NEWS
{% endblock %} 

{% block scripts %} 
  {{ super() }} 
{% endblock %} 

{% block inside_left %}
    {% for key in record_dc.keys() %}
      <a href="#{{ key }}" class="list-group-item list-group-item-action bg-light">{{ key }} - {{ record_dc[key]|length }}</a>
    {%endfor %}

{% endblock %}

{% block inside_right %}  

  {% if record_dc != None %}

    {% for key in record_dc.keys() %}
    
      {% if record_dc[key]%}
        <br id='{{ key }}'><br><br>  
        <h1>{{ key }} - {{ record_dc[key]|length }}</h1> 
        <hr><hr>

        {% for i, content in enumerate(record_dc[key]) %}

            <h3><a href="{{ record_dc[key][i].link }} " class="{{ record_dc[key][i].id }} " onmousedown="WhichButton(event) " target="_blank ">{{ record_dc[key][i].title }}</a></h3>
            <br>
        {%endfor %}
      {% endif %}
    {%endfor %}
  {% endif %}

{% endblock %}

{% block endScripts %}
  {{ super() }}
  <script src="static/js/news.js "></script>
{% endblock %}